.hero {
	background: url('../../images/hero-bg.png') no-repeat right top;
	background-size: 70%;
	padding: 40px 0 0;
	margin-bottom: 9.375vw;

	@media (min-width: 1921px) {		
		margin-bottom: 180px;
	}

	@media (max-width: 768px) {
		background: url('../../images/hero-bg_mobile.png') no-repeat center top;
		background-size: contain;
		padding: 8px 0 0;
	}

	&__image {
		position: absolute;
		right: 0;
		top: 184px;
		width: 50%;
		z-index: 1;

		@media (max-width: 768px) {
			position: static;
			width: 100%;
			margin-bottom: 26px;
		}
	}

	&__title {
		margin-bottom: 25px;

		@media (max-width: 768px) {
			text-align: center;
			margin-bottom: 33px;
		}
	}

	&__text-block {
		width: 50%;
		padding-right: 3vw;
		margin: 9.58vw 0 13.4vw;					
		
		@media (max-width: 768px) {
			width: 100%;
			margin-bottom: 60px;
		}
	}

	&__text {		
		margin-bottom: 60px;

		@media (max-width: 768px) {
			text-align: center;
			margin-bottom: 28px;
		}
	}

	&__cta-block {
		display: flex;
		align-items: center;
		
		@media (max-width: 768px) {
			flex-direction: column;			
		}
	}

	&__cta-button {		
		margin-right: 30px;

		@media (max-width: 768px) {
			width: 100% !important;			
			margin: 0 0 26px;
		}
	}

	&__cta-text {		
		font-size: .83vw;
		line-height: 1.5;

		@media (min-width: 1921px) {			
			font-size: 16px;
		}
		
		@media (max-width: 768px) {
			text-align: center;
			font-size: 16px;
		}

		a {
			color: white;
			font-weight: 700;	
			transition: all .2s;
			
			&:hover {
				color: var(--color-hover);
			}
		}
	}

	&__indicators {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			@media (max-width: 768px) {				
				align-items: center;				
			}			

			&:last-of-type {
				align-items: flex-end;

				@media (max-width: 768px) {					
					align-items: center;
				}
			}

			&:first-of-type {
				@media (max-width: 768px) {					
					border-bottom: rgba(255, 255, 255, .25) 1px solid;
					padding-bottom: 30px;
					margin: 0 15px 30px;
				}
			}		
			
			&:nth-of-type(2) {
				@media (max-width: 768px) {										
					margin-bottom: 30px;
				}
			}
		}

		&-title {
			font-size: 4.17vw;
			font-weight: 700;
			margin-bottom: 20px;

			@media (min-width: 1921px) {
				font-size: 80px;
			}

			@media (max-width: 768px) {
				font-size: 22.4vw;
				margin-bottom: 0;
			}			
		}

		&-title-image {
			width: 22.3vw;
			margin-bottom: 20px;

			@media (min-width: 1921px) {
				width: 428px;
			}

			@media (max-width: 768px) {
				width: 100%;				
			}
		}

		&-caption {
			font-size: 2.18vw;
			font-weight: 500;

			@media (min-width: 1921px) {
				font-size: 42px;
			}

			@media (max-width: 768px) {				
				font-size: 6.4vw;
			}
		}
	}
}